
body {
    padding: 50px;
    background-color:#f5f5dc; 
  }

  .content {
    max-width: 800px;
    margin: auto; 
    padding: 20px;
  }
  
  
  h1 {
    text-align: left; 
    font-size: 2.5em;
    margin-bottom: 20px; 
  }
  

  h2 {
    text-align: center;
    font-size: 2em; 
    margin-bottom: 12px; 
  }
 
  .house-img {
    text-align: center;
    float: left; 
    width: 150px; 
    height: auto; 
    shape-outside: url('house.png');
    shape-margin: 10px; 
    margin-right: 15px; 
    margin-bottom: 20px; 
  }
  

  @container (max-width: 600px) {
    h2 {
      font-size: 1.5em; 
    }
  }
  